service:
  enabled: true
  spec:
    externalTrafficPolicy: Local
  annotations:
    service.beta.kubernetes.io/metal-lb: "true"
    metallb.universe.tf/address-pool: public-pool
  type: LoadBalancer
  ports:
    web:
      port: 80
      targetPort: 80
    websecure:
      port: 443
      targetPort: 443